.btns {
  display: flex;
  gap: 10px;
 justify-content: center;
}


.dots {
  display: inline-flex;
  width: 40px;
  justify-content: center;
  color: beige;
}

.active {
  background-image: radial-gradient(circle at center, white, orangered);
  font-weight: 800;
  color: orangered;
  transform: scale(1.1);
  cursor: not-allowed;

  &:hover {
    background-image: radial-gradient(circle to center, white, orangered);
  }
}

.input-btn {
 padding: 6px;
 position: relative;
 width: 42px;
 font-size: 18px;
 font-weight: 700;
 color: blue;
 outline: none;
 border-radius: 12px;
background-color: aquamarine;
border: 2px solid orangered;
 
&::before {
  content: '>>';
  position: absolute;
  color: orangered;
}
}