.container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &:hover {
    transform: translateX(32px) scale(1.05);
  }
    &:hover .overview {
      padding-right: 50px;
    }

}

.movie {
  color: beige;
  font-size: 20px;
  padding-bottom: 4px;

  &:hover {
    color: orangered;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 0;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
