.container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &:hover {
    transform: translateX(32px) scale(1.05);
  }
    &:hover .overview {
      padding-right: 50px;
    }

}

.card {
  display: flex;
  gap: 24px;
 
}

.border {
  padding: 6px;
  border-radius: 12px;
  border: 2px solid orangered;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  padding: 10px 24px 30px;
  color: beige;

}

.title-movie {
  color: sandybrown;
  text-decoration: underline;

  &:hover {
    color: orangered;
  }
}


.movie {
  color: beige;
  font-size: 20px;
  padding-bottom: 4px;

  &:hover {
    color: orangered;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 0;
  }
}

.data {
  color: burlywood;
}

.poster {
  border-radius: 12px;
  max-width: 200px;
}

.statistic {
  display: flex;
  gap: 25px;
  color: lightpink;
}