.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    gap: 20px;
}

.title {
    font-weight: 800;
    background-image: linear-gradient(to left, white, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}