.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}
.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    gap: 20px;

}

.title {
    font-size: 26px;
    font-weight: 800;
    background-image: linear-gradient(to left, white, orangered);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
    text-transform: capitalize;
}
span {
    background-image: linear-gradient(to left, white, orangered);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
}
